<!DOCTYPE html>
<html lang="en">

<head>
  <title>Event page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <%- include('partials/_header') %>
  </head>

<body>
  <%- include('partials/_nav') %>
<main class="container">
  <section class="event">
    <h1><%- result[0]['title'] %> </h1>
    <div class="form-section">
      <label>Description:</label>
      <p class="text" name="description" id="description"><%- result[0]['description'] %></p>
    </div>
  </section>
  <br>

  <!-- <form method="POST" action="/event/<%= result[0].url %>" class="submitAttend"> -->
  <form class="submitForm" id="submitAttend">
    <section class="new-event">
      <h1>Confirm your attendence</h1>
      <div class="form-section">
        <label>Name:</label>
        <textarea placeholder="Your full name" name="name" class="text" ></textarea>
      </div>
      <div class="form-section">
        <label>Email:</label>
        <input type="email" class="text" name="email" required placeholder="Enter email" style="Width: 250px"/>
      </div>
      <div class="form-section">
        <table id="event-entries" url="<%= result[0].url %>">
          <thead>
            <tr>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Attending</th>
            </tr>
          </thead>
          <tbody id="timeslot-entries">
            <!-- <% for (let i = 0; i < result.length; i++) { %>
              <tr>
                <% let options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric'} %>
                <% let startTime = new Date(result[i]['start_time']) %>
                <% let startDate = startTime.toLocaleDateString("en-US", options) %>
                <% let endTime = new Date(result[i]['end_time']) %>
                <% let endDate = endTime.toLocaleDateString("en-US", options) %>
                <td><%- startDate %></td>
                <td><%- endDate %></td>
                <td><input slot="<%= i %>" time_id="<%= result[i].time_id %>" type="checkbox"></td>
              </tr>
            <% } %> -->
            <% let x = 0; %>
            <% for (const time in timeslot_list) { %>
              <tr>
                <% let options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric'} %>
                <% let startTime = new Date(timeslot_list[time].start_time) %>
                <% let startDate = startTime.toLocaleDateString("en-US", options) %>
                <% let endTime = new Date(timeslot_list[time].end_time) %>
                <% let endDate = endTime.toLocaleDateString("en-US", options) %>
                <td><%- startDate %></td>
                <td><%- endDate %></td>
                <td><input slot="<%= x %>" time_id="<%= time %>" type="checkbox"></td>
                <% x++; %>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <div>
        <button class="button" id="sumbit-attend-btn" type="submit">Submit</button>
        <!-- Routes to GET timeslots -> carry over data from this form via cookies -->
      </div>
    </section>
    </form>
  <h2 class="event-name">Event Name Table</h2>
  <div class="table-wrapper">
    <table class="fl-table">
      <thead>
      <tr>
        <th>Start-time</th>
        <th>End-time</th>
        <th>Name</th>
        <th>Email</th>
        <th>Attending</th>
      </tr>
      </thead>
      <tbody class="attendee-entry" >
        <% for(let row of result) {%>
          <tr align=center>
            <td><%= new Date(row.start_time).getHours() %>:<%= new Date(row.start_time).getMinutes() %></td>
            <td><%= new Date(row.end_time).getHours() %>:<%= new Date(row.end_time).getMinutes() %></td>
            <td><%= row.name %></td>
            <td><%= row.email %></td>
            <td style="display:flex; justify-content: center;"><input type="checkbox" class="text" id="checkbox" style="Width: 50px" <%= row.attend ? "checked" : "" %> /></td>
          </tr>
        <%}%>
      <tbody>
    </table>
  </div>
</main>

</body>

</html>
